.container {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(50, 51, 50); */
    background-image: "../dumbo.jpg";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.leftBanner {
    display: flex;
    flex-direction: row;
    border: 3px solid red;
}

.bannerPhoto img {
    border-radius: 50%;
}

.bannerContactMe {
    justify-self: right;
}

.aboutMeBanner {
    color: white;
    font-size: large;
}

.name {
    color: white;
    font: 200;
    font-size: 3em;
}

.frontPage {
    margin-left: 100px;
}

.picWrap {
    height: 100%;
    width: 100%;
    display: flex;
}


.background-image {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../dumbo.jpg") no-repeat center center;
    background-size: 100% auto;
    display: flex;
}

.innerContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.theText {
    color: white;
    font-size: 2.1em;
    letter-spacing: 2px;
    margin-left: 20px;
}

.thePara {
    color: white;
    font-size: 1.25em;
    letter-spacing: 1.5px;
    margin-left: 20px;
    max-width: 400px;
    margin-top: 50px;
}
