.contentContainer {
    margin: 0;
    padding: 0;
    background-color: tomato;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.leftPane {
    height: 800px;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.rightPane {
    height: 1000px;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.aboutMe {
    height: 200px;
    background-color: lightgrey;
    border: 1px solid red;
    margin: 2em 0em;
}

.latestProjects {
    height: 700px;
    background-color: lightgray;
    border: 1px solid red;
}

.location {
    background-color:  lightgrey;
    border: 1px solid red;
    margin: 2em 0em;
}

.skills {
    background-color:  lightgrey;
    border: 1px solid red;
}